
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Coded with ❤️ by <a href="https://github.com/anasolomon">Ana-Maria Tanasciuc</a> @The App Brewery</p>
  </div>
</div>
</body>
</html>
