<%- include('partials/header'); -%>

<h1>Compose</h1>

<form action="/compose" method="POST">
    <input type="text" name="newCompose" placeholder="Enter Text" autocomplete="off">
    <button type="submit">Publish</button>
</form>

<%- include('partials/footer'); -%>